.contactBanner{
    background: url(../../../public/img/contact-banner.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 14rem 1rem;
    text-align: center;
    color: white;
}
.contactBanner h1{
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 10px;
}